{% extends 'base.html.twig' %}

{% block title "Mon app React" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app')}}
{% endblock %}

{% block body %}
    <h1>Accueil !</h1>
{% endblock %}

{% block javascript %}
    {{ encore_entry_link_tags('app')}}
{% endblock %}